.App {
  font-family: sans-serif;
  text-align: center;
}

.Hint_main__1Svrz {
  display: none;
}

.ImageView_block__3BAO- {
  display: none !important;
}

.ImageView_container__AOBmH {
  overflow: visible !important;
}

.ls-task-info {
  display: none;
}